<div class="col-sm-8 mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">NEW PDU MONITORING/SENSOR</h5>
      <%= form_with(model: device, local: true) do |form| %>
        <% if device.errors.any? %>
          <div id="error_explanation">
            <h2 class="text-danger"><%= pluralize(device.errors.count, "error") %> fields this SNMP form from being saved:</h2>

            <ul>
            <% device.errors.full_messages.each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mt-3">
          <div class="col-md-6">
            <%= form.label :unitname, class:"form-label" %>
            <%= form.text_field :unitname, class:"form-control form-control-sm" %>
          </div>

          <div class="col-md-6">
            <%= form.label :ipaddress, class:"form-label" %>
            <%= form.text_field :ipaddress, class:"form-control form-control-sm" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <%= form.label "Object Identifier (OID)", class:"form-label" %>
            <%= form.text_field :oid, class:"form-control form-control-sm" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <%= form.label :sensore_type, class:"form-label" %>
            <%= form.select(:sensore_type,["Temp °C", "Temp °F", "Humid %", "Load amp"],{},{class:"form-control form-control-sm"}) %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <%= form.label :community, class:"form-label" %>
            <%= form.select(:community,["public", "private"],{},{class:"form-control form-control-sm"}) %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <%= form.label "Set Alarm", class:"form-label" %>
            <%= form.text_field :alarm, class:"form-control form-control-sm" %>
          </div>
        </div>


        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
          <%= form.submit class:"btn btn-primary btn-sm" %>
          <%= link_to 'Cancel', devices_path, class:"btn btn-secondary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
