<div class="container-fluid" id="requests">
  <nav class="navbar lst fixed-top">
    <div class="container-fluid">
      <%= link_to root_path,  class:"navbar-brand mb-0 h1 lsttxt neon" do %>
        D<%= image_tag "/assets/comspec.png", style:"width:auto;height:25px;", class:"mb-1" %>IM
      <% end %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to root_path do %>
            <i class="nav-link fa fa-solid fa-home usr" title="HOME"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to devices_path do %>
            <i class="nav-link fa fa-solid fa-code-fork usr text-white" title="SNMP Device"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to ssms_path do %>
            <i class="nav-link fa fa-solid fa-sitemap usr" title="Server Status Monitoring"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path do %>
            <i class="nav-link fa fa-solid fa-user usr" title="Accounts"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to logout_path, data: { confirm: 'Are you sure you want to logout?' } do %>
            <i class="nav-link fa fa-sign-in usr" title="Logged out"></i>
          <%end%>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row mt-5">
    <p id="notice"><%= notice %></p>
    <div class="col-sm-8 mt-2 p-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-white pb-3"><%= @device.unitname %>: <%= @device.ipaddress %></h5>
          <%= line_chart [["2021-01-01", 10], ["2021-02-02", 3], ["2021-03-02", 5], ["2021-04-02", 90]] %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Edit', edit_device_path(@device), class:"btn btn-primary" %> |
  <%= link_to 'Back', devices_path, class:"btn btn-primary" %>
</div>
<script>
  setTimeout(function(){
     $("#requests").load("#requests");
  },100000);
</script>
