<div class="container-xxl p-5">
  <nav class="navbar lst fixed-top">
    <div class="container-fluid">
      <%= link_to root_path,  class:"navbar-brand mb-0 h1 lsttxt neon" do %>
        D<%= image_tag "/assets/comspec.png", style:"width:auto;height:25px;", class:"mb-1" %>IM
      <% end %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to root_path, class:"nav-link text-secondary" do %>
            Dashboard
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to snmpdevices_path, class:"nav-link text-secondary" do %>
            MiniBoot
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to ssms_path, class:"nav-link text-secondary" do %>
            Switches
          <% end %>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-secondary" target="_blank">Across</a>
        </li>
        <li class="nav-item">
          <%= link_to users_path, class:"nav-link text-secondary text-white" do %>
            <%= current_user.userinterface %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to logout_path, data: { confirm: 'Are you sure you want to logout?' }, class:"nav-link text-secondary" do %>
            Logout
          <%end%>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row mt-5">
    <%= render 'form', user: @user %>
  </div>
</div>
