<div class="container-flluid p-5">
  <p id="notice"><%= notice %></p>
  <div class="row mt-5 position-absolute top-50 start-50 translate-middle">
    <div class="card p-5" style="width: 50rem;">
      <i class="text-center fa fa-solid fa-user-circle fs-1 text-light" alt="<%= @user.firstname %> <%= @user.middlename %> <%= @user.lastname %>"></i>
      <div class="card-body text-light text-center">
        <h5 class="card-title"> <%= @user.firstname %> <%= @user.middlename %> <%= @user.lastname %></h5>
        <p class="card-text"> <%= @user.username %></p>
        <p class="card-text"><%= @user.userinterface %></p>
        <p class="card-text">
          <strong>Create at:</strong>
          <%= @user.created_at %>
        </p>
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
</div>
