<div class="col-md-6 col-lg-7 d-flex align-items-center" id="radius">
  <div class="card-body p-4 p-lg-5 text-black">

    <%= form_tag '/login' do %>
      <div class="container ps-5">
        <div class="d-flex lsttxt neon">
          <span class="h1 fw-bold mb-0 text-warning">D<%= image_tag "/assets/comspec.png", style:"width:auto;height:43px;", class:"mb-1" %>IM</span>
        </div>
        <div class="badge text-wrap mt-4">
          <span class="fs-5 fw-bold mb-0 text-warning">Data Center Infrastructure and Monitoring</span>
        </div>
        <input type="hidden" id="notice" value="<%= notice %>">
        <div class="form-outline mb-4 pt-5">
          <label for="exampleFormControlTextarea1" class="form-label text-light">Login</label>
          <%= text_field_tag :username,"", :class => "form-control form-control-sm shadow-lg", :placeholder => "Username" %>
        </div>

        <div class="form-outline mb-4">
          <%= password_field_tag :password,"", :class => "form-control form-control-sm shadow-lg", :placeholder => "Password" %>
        </div>

        <div class="form-outline mb-4">
          <p id="notice" class="<%= @notif %>"><%= notice %></p>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
          <%= submit_tag 'SIGN IN', class:"btn btn-outline-secondary btn-lg btn-block btn-sm shadow-sm text-white", style:"width:50%;" %>
        </div>

        <p class="mt-5 mb-3 text-white text-center shadow-sm position-absolute top-100 start-50 translate-middle">&copy; Copyright 2021-<%= @currentYear %> Comspec Marketing Solutions</p>
      </div>
    <% end %>

  </div>
</div>
<script type="text/javascript">
  var sec = document.getElementById("notice").value;
  if (sec == "Your username or password does not match"){
    setTimeout(function(){
       window.location.reload(1);
    }, 5000);
  };

</script>
