<div class="col-sm-8 mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-light">SERVER STATUS MONITORING</h5>
      <%= form_with(model: ssm, local: true) do |form| %>
        <% if ssm.errors.any? %>
          <div id="error_explanation">
            <h2 class="text-danger">Please fill out this <%= pluralize(ssm.errors.count, "form") %> from being saved:</h2>

            <ul>
            <% ssm.errors.full_messages.each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mt-3">
          <div class="col-md-6">
            <%= form.label :unitname, class:"form-label text-light" %>
            <%= form.text_field :unitname, class:"form-control form-control-sm" %>
          </div>

          <div class="col-md-6">
            <%= form.label :ipaddress, class:"form-label text-light" %>
            <%= form.text_field :ipaddress, class:"form-control form-control-sm" %>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
          <%= form.submit class:"btn btn-primary btn-sm" %>
          <%= link_to 'Cancel', ssms_path, class:"btn btn-secondary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
