<nav class="navbar lst fixed-top">
  <div class="container-fluid">
    <%= link_to root_path,  class:"navbar-brand mb-0 h1 lsttxt neon" do %>
      D<%= image_tag "/assets/comspec.png", style:"width:auto;height:25px;", class:"mb-1" %>IM
    <% end %>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to users_path, class:"nav-link text-secondary" do %>
          <%= current_user.firstname %>
          <%= current_user.lastname %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to logout_path, data: { confirm: 'Are you sure you want to logout?' }, class:"nav-link text-secondary" do %>
          Logout
        <%end%>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="requests">
  <div class="sidebar" id="sidebar">
    <ul>
      <li>
        <%= link_to root_path do %>
        <i class="fa fa-solid fa-home pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">Dashboard</small>
        <% end %>
      </li>
      <li>
        <%= link_to nocs_path do %>
          <i class="fa fa-solid fa-server pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">NOC</small>
        <% end %>
      </li>
      <li>
        <%= link_to snmpdevices_path do %>
          <i class="fa fa- fa-plug pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">MiniBoot</small>
        <% end %>
      </li>
      <li>
        <%= link_to ssms_path do %>
        <i class="fa fa-solid fa-sitemap pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">Switches</small>
        <% end %>
      </li>
      <li>
        <a href="<%= @accrossLink %>" target="_blank">
          <i class="fa fa-link fa-solid pr-5"></i>
          <small style="margin-left:20px;" class="fs-6"> Across </small>
        </a>
      </li>
    </ul>
  </div>



  <div class="row-6 mt-5">
    <p id="notice"><%= notice %><%= @include %></p>
    <div class="col-sm-12 mt-2"">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-light"><i class="fa fa-solid fa-sitemap"> SERVER STATUS MONITORING</i></h5>
              </div>
              <div class="col">
                <%= form_tag ssms_path, :method => "GET" do %>
                  <div class="input-group input-group-sm mb-3">
                    <%= text_field_tag :ssm_search, params[:ssm_search], class:"form-control", placeholder:"Search Server Name" %>
                    <%= submit_tag "Search", class:"btn btn-outline-secondary" do %>
                      <i class="fa fa-solid fa-search"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

            <div class="table-responsive">
              <table class="table table-dark table-hover" style="border-radius:25px;">
                <thead>
                  <tr>
                    <th>Unitname</th>
                    <th style="text-align:center;">Ipaddress</th>
                    <th style="text-align:center;">RTT (ms)</th>
                    <th colspan="2" style="text-align:center;">Status</th>
                    <th colspan="3" style="text-align:center;">Actions</th>
                  </tr>
                </thead>
                <% @ssms.each do |ssm|%>

                <div class="d-none">
                  <%=
                    host = ssm.ipaddress
                    rtt = Benchmark.realtime do
                      pinger = Net::Ping::External.new(host)
                      pinger.ping
                    end

                    if rtt
                      if (rtt).round(4) < 3.0000
                        rttResult = (rtt).round(4)
                        statusResult = "Online"
                      else
                        rttResult = (rtt).round(4)
                        statusResult = "Offline"
                      end

                    else
                      rttResult = "failed"
                    end
                  %>
                </div>
                <tbody>
                  <tr>
                    <td><%= ssm.unitname %></td>
                    <td style="text-align:center;"><a href="http://<%= ssm.ipaddress %>" target="_blank"><%= ssm.ipaddress %></a></td>
                    <td style="text-align:center;<%= statusResult %>"><%=  rttResult %></td>
                    <td class="<%= statusResult %>" style="text-align:center;"><i class="fa fa-circle"></i></td>
                    <td class="<%= statusResult %>" style="text-align:center;"><%= statusResult %></td>
                    <td style="text-align:center;">
                      <%= link_to '', ssm, class:"fa fa-solid fa-arrow-right", title:"Show" %>
                    </td>
                    <td style="text-align:center;">
                      <%= link_to '', edit_ssm_path(ssm), class:"fa fa-solid fa-edit", title:"Edit" %>
                    </td>
                    <td style="text-align:center;">
                      <%= link_to '', ssm, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-solid fa-trash", title:"Delete"%>
                    </td>
                  </tr>
                </tbody>
                <% end %>
              </table>
            </div>
          <button class="btn-9 d-grid gap-2 d-md-flex justify-content-md-start">
            <%= link_to new_ssm_path :class=>"btn1" do %>Add SERVER STATUS MONITORING<% end %>
          </button>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
