<nav class="navbar lst fixed-top">
  <div class="container-fluid">
    <%= link_to root_path,  class:"navbar-brand mb-0 h1 lsttxt neon" do %>
      D<%= image_tag "/assets/comspec.png", style:"width:auto;height:25px;", class:"mb-1" %>IM
    <% end %>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to users_path, class:"nav-link text-secondary" do %>
          <%= current_user.firstname %>
          <%= current_user.lastname %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to logout_path, data: { confirm: 'Are you sure you want to logout?' }, class:"nav-link text-secondary" do %>
          Logout
        <%end%>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-5" id="requests">
  <div class="sidebar">
    <ul>
      <li>
        <%= link_to root_path do %>
        <i class="fa fa-solid fa-home pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">Dashboard</small>
        <% end %>
      </li>
      <li>
        <a href="#">
        <i class="fa fa-solid fa-server pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">NOC</small>
        </a>
      </li>
      <li>
        <%= link_to snmpdevices_path do %>
          <i class="fa fa- fa-plug pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">MiniBoot</small>
        <% end %>
      </li>
      <li>
        <%= link_to ssms_path do %>
        <i class="fa fa-solid fa-sitemap pr-5"></i>
          <small style="margin-left:20px;" class="fs-6">Switches</small>
        <% end %>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-link fa-solid pr-5"></i>
          <small style="margin-left:20px;" class="fs-6"> Across </small>
        </a>
      </li>
    </ul>
  </div>

  <div class="row p-5 mt-5">
    <p id="notice"><%= notice %></p>
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text text-white">
            <strong></strong>
          </h5>
        </div>
        <table class="table table-borderless ">
          <tbody>
            <tr>
              <th scope="row">
                <p class="card-text text-white fs-6"> <%= @echoName %> </p>
              </th>
              <th scope="row">
                <p class="card-text text-white fs-6">
                  <strong>IP:</strong>
                  <%= @echoIP %>
                </p>
              </th>
              <th scope="row">
                <p class="card-text fs-6"><%= @rttResult %> ms</p>
              </th>
              <th scope="row">
                <p class="card-text fs-6">
                  <i class="fa fa-circle"></i> <%= @echoStatus %>
                </p>
              </th>
            </tr>
          </tbody>
        </table>
        <%= area_chart @rttResult, colors:[@graph, "#666"] %>
        <%= line_chart @rttResult, legend: "bottom" %>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <%= link_to 'Edit', edit_ssm_path(@ssm), class:"btn btn-primary btn-sm" %>
    <%= link_to 'Back', ssms_path, class:"btn btn-secondary btn-sm" %>
  </div>
</div>
