<!DOCTYPE html>
<html>
  <head>
    <title>DCIMv1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <%= yield %>
    <script>
      setTimeout(function(){
         $("#requests").load("#requests");
      },10000);
    </script>
  </body>
</html>
