<!DOCTYPE html>
<html>
  <head>
    <title>DCIM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if logged_in? %>

      <nav class="navbar lst fixed-top">
        <div class="container-fluid">
          <%= link_to root_path,  class:"navbar-brand mb-0 h1 lsttxt neon" do %>
            D<%= image_tag "/assets/comspec.png", style:"width:auto;height:25px;", class:"mb-1" %>IM
          <% end %>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <%= link_to users_path, class:"nav-link text-secondary" do %>
                <%= current_user.firstname %>
                <%= current_user.lastname %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to logout_path, data: { confirm: 'Are you sure you want to logout?' }, class:"nav-link text-secondary" do %>
                Logout
              <%end%>
            </li>
          </ul>
        </div>
      </nav>

      <div class="sidebar" id="sidebar">
        <ul>
          <li>
            <%= link_to root_path do %>
            <i class="fa fa-solid fa-home pr-5"></i>
              <small style="margin-left:20px;">Dashboard</small>
            <% end %>
          </li>
          <li>
            <%= link_to nocs_path do %>
              <i class="fa fa-solid fa-server pr-5"></i>
              <small style="margin-left:20px;">NOC</small>
            <% end %>
          </li>
          <li>
            <%= link_to snmpdevices_path do %>
              <i class="fa fa- fa-plug pr-5"></i>
              <small style="margin-left:20px;">MiniBoot</small>
            <% end %>
          </li>
          <li>
            <%= link_to ssms_path do %>
            <i class="fa fa-solid fa-sitemap pr-5"></i>
              <small style="margin-left:20px;">Switches</small>
            <% end %>
          </li>
          <li>
            <a href="<%= @accrossLink %>" target="_blank">
              <i class="fa fa-link fa-solid pr-5"></i>
              <small style="margin-left:20px;"> Across </small>
            </a>
          </li>
          <li>
            <a href="#" id="btnFullscreen">
              <i class="fa fa-arrows-alt fa-solid pr-5"></i>
              <small style="margin-left:20px;"> Fullscreen </small>
            </a>
          </li>
        </ul>
      </div>
    <%end%>
    <%= yield %>
  </body>
</html>
